@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@100;200;300;400;500;700&display=swap");

:root {
  /* Color scheme */
  --primary: #009dd4;
  --grey: #545454;
  /* Text color */
  --text-dark: #212121;
  --text-lighter: #545454;
  /* Background colors */
  --background-dark: #f7f8f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

#root {
  position: relative;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

h2 {
  font-size: 34px;
  margin-bottom: 20px;
  line-height: 1.1;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
  color: var(--text-lighter);
}

.es-widget-title {
  display: none;
}
